body{
    background-color: yellowgreen;
}

/* #newsletter form{
    float:right;
    margin-top: 35px;
}

#newsletter input[type="text"]{
    padding:40px;
    height:10 px;
    width :250 px;
}

header nav{
    float:right;
    margin-top:20px;
} */


