<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'property/style.css' %}">
    <title>property manager</title>
    
</head>
<body>
    <b>USER SIGNIN</b><br><br>
    <img src="{% static 'property/pic2.jpg' %}" alt image="no img"><br><br>


    <form action="hello.html" method="GET">
        Name:<input type="text" name=" " placeholder="enter name"><br><br>
        Username:<input type="text" name=" " placeholder="enter username"><br><br>
        Password:<input type="password" name=" " placeholder="enter password"><br><br>
        <input type="submit" value=SignIN><br><br>
    </form>

</body>
</html>